<h1 style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 14pt; color: #6593C0'>{% block header %}Helpdesk{% endblock %}</h1>

{% block content %}{% endblock %}

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>{{ footer }}</p>
    
<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 9pt; color: #808080;' color='#808080'>Este e-mail está sendo enviado de um usuário do nosso serviço de suporte, de acordo com a nossa política de privacidade.
Por favor avise-nos caso você acredite ter recebido este e-mail por engano.</p>
